.product-list {
    padding-top: 0.5rem;

    & h5 {
        width: 100%;
        text-align: center;
        height: 10%;
        margin: 0;
    }

    & .products {
        height: 90%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-start;
    }
}
