@import '../../../variables.scss';

.footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background-color: $dark;
    color: $light;

    & div {
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }

    & .description {
        flex: 1 1 60%;

        & h5 {
            margin: 0;
            text-align: center;
        }

        & p {
            margin: 0;
            font-size: .75rem;
            padding-left: .5rem;
        }
    }

    & .links {
        flex: 1 1 40%;

        & a {
            font-size: 1.5rem;
            display: block;
            text-align: center;
            text-decoration: none;

            &:link, &:visited {
                color: $light;
            }

            &:hover, &:active {
                color: $light-darker;
            }
        }
    }

    @media (min-width: $medium-bp) {
        & .description {
            & p {
                text-align: center;
            }
        }
    }
}