@import '../../../variables.scss';

html {
    font-size: 16px;
}

html, body, #app, .main {
    width: 100%;
    height: 100%;
    margin: 0;
}

* {
    font-family: $primary-font;
}

.wrapper {
    position: fixed;
    top: 3rem;
    width: 100%;
    height: 100%;

    transition: all .25s ease-in-out;

    &.active {
        top: calc(3rem + 150px);
    }

    & .main {
        margin-top: .5rem;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
}