@import '../../../variables.scss';

.image-slider {

    max-height: 40%;
    padding: .5rem;

    & ul {
        height: 100% !important;

        & li {
            height: 100% !important;
        }
    }

    & a {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        height: 100%;

        & img {
            height: 100%;
            display: block;
        }
    }

    @media (min-width: $medium-bp) {
        width: 80% !important;
        padding: 0;
    }
}