@import '../../../variables.scss';

.navbar-link {

    width: 100%;

    & a {
        display: inline-block;
        width: 100%;
        min-height: 2.25rem;
        text-decoration: none;
        color: $light;
        font-size: 1.25rem;

        &:hover {
            color: $light-darker;
        }
    }

    &:nth-of-type(even) {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
    }

    @media only screen and (min-width: $medium-bp) {

        width: auto;

        & a {
            color: $dark;
            font-size: 2rem;

            &:hover {
                color: $dark-lighter;
            }
        }
    }
}