@import '../../../variables.scss';

.slider-navigation {
    position: absolute;
    bottom: .5rem;
    right: .5rem;
    max-width: 200px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    & span {
        color: $light;
        display: block;
    }
}