@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Source+Sans+Pro&display=swap');

$header-font: 'Libre Baskerville', serif;
$content-font: 'Source Sans Pro', sans-serif;

$light: #ffffff;
$light-darker: #d0d0d0;
$dark: #000000;
$dark-lighter: #555555;

$small-bp: 460px;
$medium-bp: 768px;
$large-bp: 1024px;
$xlarge-bp: 1440px;
$xxlarge-bp: 2160px;
