@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

$primary-font: 'Oswald', sans-serif;
$light: #ffffff;
$light-darker: #d0d0d0;
$dark: #000000;
$dark-lighter: #555555;

$small-bp: 460px;
$medium-bp: 768px;
$large-bp: 1024px;
$xlarge-bp: 1440px;
$xxlarge-bp: 2160px;